{% extends 'base.html' %}
{% load static %}

{% block title %}Our Team{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'CSS/ourteam.css' %}" />
{% endblock %}

{% block content %}
<div class="ourteam-container">
        
        <div class="ourteam-sub-container">
            <div class="ourteams">
                <img src="{% static 'Images/user1.svg' %}" alt="Profile Picture">
                <div class="ourteam-name">Aamod Mishra</div>
                <div class="ourteam-desig">Developer</div>
                <div class="ourteam-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum labore quam
                    reprehenderit
                    vitae aliquam dicta! </div>

                <div class="ourteam-social-links">
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>

            <div class="ourteams">
                <img src="{% static 'Images/user2.svg' %}" alt="Profile Picture">
                <div class="ourteam-name">Mitesh Lamsal</div>
                <div class="ourteam-desig">Designer</div>
                <div class="ourteam-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum labore quam
                    reprehenderit
                    vitae aliquam dicta! </div>

                <div class="ourteam-social-links">
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>

            <div class="ourteams">
                <img src="{% static 'Images/user3.svg' %}" alt="Profile Picture">
                <div class="ourteam-name">Shivam Yadav</div>
                <div class="ourteam-desig">Manager</div>
                <div class="ourteam-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum labore quam
                    reprehenderit
                    vitae aliquam dicta! </div>

                <div class="ourteam-social-links">
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
