/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Smaller width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker thumb color on hover */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Background color of the track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-track:hover {
  background-color: #e0e0e0; /* Lighter track color on hover */
}

/* Prevent scrolling when login/signup is open */
.no-scroll {
  overflow: hidden;
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="text"]:focus,
textarea:focus {
  outline: 2px solid #fff; /* White outline when focused */
  outline-offset: 2px;
  border: none;  /* Optional: Remove default border */
}
